*{
    margin-top: 0;
    padding: 0;
}
.bg-color{
    background-color: rgba(188, 203, 236, 0.3);
}
/* Header & Nav */
.header{
    background-image: url(./images/Hero-bg.png);
    height: 698px;
    width: 100%;
}
.header-nav{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}
.header-nav h3 a{
    color: #4E47FF;
    text-decoration: none;
    font-size: 34px;
    font-weight: bolder;
}
.header-nav button{
    font-size: 16px;
    color: aliceblue;
    background-color: #4E47FF;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
}
.header-text{
    margin: 0 auto;
    max-width: 1140px;
    text-align: center;
    margin-top: 200px;
}
.header-text h1{
    line-height: 50%;
    font-size: 65px;
}
.header-text button{
        font-size: 16px;
        color: aliceblue;
        background-color: #4E47FF;
        font-weight: bold;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
        margin-top: 25px;
}
/* Mian */
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* Action */
.action{
    display: flex;
    justify-content: space-between;
    margin: 90px 0;
}
.action-text{
    max-width: 430px;
    margin-top: 80px;
}
.action-text h2{
    font-size: 35px;
}
.action-text p{
    font-size: 22px;
    color: #4f4f52;
    margin-top: -15px;
}
.action-text button{
        font-size: 16px;
        color: aliceblue;
        background-color: #4E47FF;
        font-weight: bold;
        padding: 15px 30px;
        border-radius: 10px;
        border: none;
}
.action-image img{
    width: 100%;
    border-radius: 30px;
}

/* User Section */
.user{
    height: 286px;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 50px 0;
    text-align: center;
    border-radius: 30px;
}
.user-title h2{
    font-size: 35px;
    font-weight: bold;
    padding-top: 50px;
}
.user-data{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.user-data-1{
    text-align: center;
}
.user-data-1 h1{
    font-size: 65px;
    color: #4E47FF;
    font-weight: bolder;
    margin-bottom: -5px;
}
.user-data-1 p{
    color: #4f4f52;
    font-size: 17px;
}

/* Review Section */
.review{
    text-align: center;
    padding: 100px 0;
}
.review-title h2{
    font-size: 60px;
}
.review-box{
    display: flex;
    justify-content: space-between;
}
.review-box-1{
    padding: 20px 20px;
    text-align: left;
    background-color: rgb(246, 250, 253);
    width: 28%;
    border-radius: 10px;
    border: 1px solid #dadae2;
}
.star-icon{
    margin: 25px 0;
}
.box-title h3{
    font-size: 25px;
    font-weight: bold;
}
.box-title p{
    font-size: 16px;
    color: #4f4f52;
    margin-top: -15px;
    margin-bottom: 35px;
}
.people-box{
    display: flex;
    gap: 15px;
}
.people-box-img img{
    border-radius: 50%;
}
.people-box-title h6{
    font-size: 14px;
    color: #626264;
    padding-top: 5px;
    margin-bottom: 5px;
}
.people-box-title p{
    font-size: 17px;
    color: #727275;
}



/* Get in Touch */

.get-in-touch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    height: 632px;
    background: #rgba(214, 221, 237, 1);
}
.contact-text h2{
    flex: 1;
    font-size: 85px;
    font-weight: bold;
    padding-top: 50px;
}
.contact-input{
    flex: 1;
    background-color: transparent;
}
.form-group{
    margin-bottom: 20px;
}

label{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #111111;
}

input, textarea{
    width: 100%;
    padding: 13px 0;
    border-radius: 8px;
    border: 1px solid #afafaf;
    font-size: 16px;
    background-color: #fff;
}

textarea {
    min-height: 100px;
}

.get-btn{
    width: 100%;
    font-size: 16px;
    color: aliceblue;
    background-color: #4E47FF;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 10px;
    border: none;
}

/* Footer */
footer{
    text-align: center;
    padding: 50px 40px;
    margin-bottom: 60px;
}
.footer-logo h2{
    font-size: 105px;
    font-weight: bold;
    color: #4E47FF;
    margin-bottom: -1px;
}
.footer-logo p{
    color: #4f4f52;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer-Nav ul li{
    display: inline-block;
    margin: 0 25px;
}
.footer-Nav ul li a{
    font-size: 22px;
    color: #4f4f52;
    text-decoration: none;
}

/* Done */